:root {
  --main: #E7F2F8;
  --dark: #74BDCB;
  --accent: #FFA384;
  --highlight: #EFE7BC;
}

body,
h1 {
  font-family: Raleway, Roboto, Helvetica, sans-serif
}

body,
html {
  height: 100%;
}

main {
  padding: 24px;
  min-height: 76vh;
}

main > div {
  padding: 24px;
}

h1 {
  margin: 0;
}

h2 {
  margin:-top 0;
  text-align: right;
  color: var(--accent);
  filter: brightness(0.6);
  font-style: italic;
}

footer,
header {
  min-height: 24px;
  background-color: var(--dark);
  box-shadow: var(--main) 0px 1px 4px, var(--main) 0px 0px 0px 3px;
  padding: 24px;
  box-sizing: border-box;
}

pre {
  display: inline;
  background-color: var(--accent);
  padding: 4px;
}

.picker-content {
  text-align: right;
}

.lead-in,
.picker-content { 
  display: inline-block;
  width: 45%;
}

#result-palette {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 48px);
  margin: 0 auto 48px;
}

.colour-group {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.palette-samples {
  display: flex;
}

.colour-sample {
  height: 64px; 
  width: 64px;
  font-size: 10px;
  text-align: center;
  margin: auto;
  margin: 12px 8px;
}
