:root {
  --main: #E7F2F8;
  --dark: #74BDCB;
  --accent: #FFA384;
  --highlight: #EFE7BC;
}

body,
h1 {
  font-family: Raleway, Roboto, Helvetica, sans-serif
}

body,
html {
  height: 100%;
  overflow: hidden;
}

main {
  min-height: calc(100vh - 114px);
}

footer,
header {
  min-height: 24px;
  background-color: var(--dark);
  box-shadow: var(--main) 0px 1px 4px, var(--main) 0px 0px 0px 3px;
  padding: 24px;
  box-sizing: border-box;
}
